# Ignore virtual environment
env/

# Ignore Python cache files
*.pyc
__pycache__/

# Ignore sensitive environment files
.env

# Ignore playlists JSON storage
playlists.json

# Ignore macOS-specific system files
.DS_Store
